ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* * {
  outline: 1px solid red;
} */

a:hover,
a:focus {
  color: #fcf8f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #000000;
  width: 100%;
}

/* =====HEADER====== */

.main-menu-item {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 130px;
  max-height: 130px;
}

.main-menu-link {
  color: #fcf9f9;
  font-family: "Condensed";
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.15em;
}

.glow:hover,
.glow:focus {
  text-shadow: 0 0 20px rgba(92, 42, 218, 0.81),
    0 0 30px rgba(92, 42, 218, 0.81), 0 0 40px rgba(92, 42, 218, 0.81),
    0 0 50px rgba(92, 42, 218, 0.81), 0 0 60px rgba(92, 42, 218, 0.81);
}

.glow-logo:hover,
.glow-logo:focus {
  -webkit-filter: drop-shadow(0px 0px 50px rgba(92, 42, 218, 0.7));
  filter: drop-shadow(0px 0px 50px rgba(92, 42, 218, 0.7));
}

/* =======HERO=======*/

.hero {
  background-image: url(../img/banner2.png);
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* ======BANNER======*/

.announcement-container {
  margin-top: 23px;
  border-radius: 23px;
  border: 6px solid #ece0e0;
  background-color: #440c46;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.announcement-heading-span {
  color: #fcf9f9;
  font-family: "Phosphor";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

.announcement-heading {
  text-align: center;
  margin-bottom: 15px;
  color: #fcf9f9;
  font-family: "Copperplate";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.15em;
}

.announcement-text {
  color: #fcf9f9;
  font-family: "Condensed";
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.015em;
  line-height: 1.1;
  letter-spacing: 0.015em;
}

/* ===ENTERTAINMENT==*/

.entertaining-content-container {
  padding-left: 26px;
}

.entertaining-content {
  display: flex;
  align-items: center;
  margin-top: 75px;
}

.entertaining-content-heading {
  text-align: center;
  color: #fcf9f9;
  font-family: "Copperplate";
  font-size: 39px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 1;
}

.entertaining-content-span {
  color: #07a948;
  font-family: "SignPainter";
  font-size: 77px;
  font-weight: 400;
  font-style: normal;
}

.entertaining-content-text {
  text-align: justify;
  color: #fcf9f9;
  font-family: "Condensed";
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
}

/* ====PLACE&TIME====*/
.place-and-time {
  margin-top: 30px;
}

.place-and-time-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 278px;
}

.place-and-time-heading {
  text-align: center;
  color: #bb31c0;
  font-family: Copperplate;
  font-size: 54px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2em;
}

.place-and-time-list-item::before {
  content: "\2022";
  color: #bb31c0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.place-and-time-list-item {
  color: #b5b3b1;
  font-family: Copperplate;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: 0.05em;
}

/* =====PARTNERS=====*/

.partners-logo {
  margin: 0 auto;
  max-height: 130px;
}

.partners {
  margin-top: 38px;
}

.w-100 {
  height: 30px;
}

.partners-heading {
  margin-bottom: 23px;
  text-transform: uppercase;
  text-align: center;
  color: #fcf8f6;
  font-family: Copperplate;
  font-size: 54px;
  font-weight: 400;
  font-style: normal;

  letter-spacing: 0.15em;
  line-height: 0.7;
}
/* =====GALLERY======*/
.gallery-icon {
  width: 52px;
  height: 37px;
}

.media-gallery {
  margin-top: 38px;
}

.tablinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 38px;
  border-radius: 20px;
  border: 4px solid #fbf6f6;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;

  color: #fbf6f6;
  font-family: Copperplate;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.15em;
}

.tabcontent {
  margin-top: 5px;
  border: 4px solid #ece0e0;
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
}

.tab-image {
  width: 195px;
  height: 128px;
}

/* ======FOOTER======*/

.footer {
  margin-top: 23px;
  box-shadow: 0 0 30px 10px rgba(92, 42, 218, 0.61);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-image: url(../img/dark-metal-grid-8.jpg);
  padding-top: 34px;
  padding-bottom: 34px;

  letter-spacing: 0.2em;
  line-height: 0.9;
}

.footer-social-list-link:not(:last-child) {
  margin-right: 15px;
}

.footer-social-list {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.footer-fast-heading {
  color: #fbf6f6;
  font-family: Copperplate;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
}

.footer-mail {
  color: #b5b3b1;
  font-family: Copperplate;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.footer-fast-link {
  color: #adaba9;
  font-family: Copperplate;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.footer-fast-items {
  margin-top: 5px;
}

.footer-fast-list {
  margin-top: 15px;
}

.footer-social-list-image {
  height: 30px;
}

/* =======SM-MENU====== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.4);
}
.sm-menu {
  width: 60%;
  height: 50%;
  background-color: #000000;
  position: absolute;
  border: 5px solid #fbf6f6;
}

.close-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #000000;
  width: 30px;
  height: 30px;
  border: 1px solid #bb31c0;
  border-radius: 50%;
  cursor: pointer;
}

.header {
  position: relative;
}

.open-menu {
  position: absolute;
  top: 20px;
  left: 5px;
  background-color: #000000;
  width: 30px;
  height: 30px;
  border: 1px solid #bb31c0;
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ===MEDIAREQUESTS=== */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .sm-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  /* ===HEADER=== */

  .logo {
    max-width: 70px;
    max-height: 70px;
  }

  /* ===HERO=== */
  .hero {
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
  }

  /* ===ANNOUNCEMENT=== */

  .announcement-container {
    border-radius: 15px;
    border: 4px solid #ece0e0;
    padding: 10px;
  }

  .announcement-heading {
    font-size: 15px;
  }

  .announcement-heading-span {
    font-size: 20px;
  }

  .announcement-text {
    text-align: justify;
    font-size: 10px;
  }

  /* ===ENTERTAINMENT==*/

  .entertaining-content {
    margin: 0px;
  }

  .entertaining-content-container {
    padding-left: 0px;
  }

  .entertaining-content-photo {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }
  .entertaining-image {
    max-width: calc(100%-2 * 30px);
  }

  .entertaining-content-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .entertaining-content-span {
    font-size: 40px;
  }

  .entertaining-content-text {
    font-size: 20px;
  }

  .entertaining-content-container {
    padding: 20px;
  }
  /* ===PLACE&TIME=== */

  .place-and-time-list {
    height: 150px;
    margin-bottom: 20px;
  }

  .place-and-time {
    margin-top: 0px;
  }

  .place-and-time-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .place-and-time-container {
    margin: 0px;
  }

  .place-and-time-list-item {
    font-size: 15px;
  }

  /* ======PARTNERS====== */

  .partners-logo {
    max-height: 70px;
  }

  .partners-list {
    margin: 0px;
  }

  .partners-heading {
    font-size: 20px;
  }

  /* ======GALLERY====== */

  .tab {
    margin: 0px;
  }

  .tab-button {
    justify-content: center;
  }

  .tablinks {
    border-radius: 5px;
    border: 2px solid #fbf6f6;
    background-color: transparent;
    padding: 2px;
    font-size: 13px;
    width: 130px;
    height: 30px;
  }

  .tab-image {
    object-fit: cover;
  }

  /* ======FOOTER======*/

  .footer-mail {
    font-size: 7px;
  }

  .footer {
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 40px;
    box-shadow: 0 0 30px 10px rgba(92, 42, 218, 0.61);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url(../img/dark-metal-grid-8.jpg);
    letter-spacing: 0.1em;
    line-height: 0.9;
  }

  .footer-fast-items {
    margin-top: 0px;
  }

  .footer-fast-list {
    margin-top: 5px;
  }

  .footer-fast-heading {
    font-size: 10px;
  }

  .footer-fast-link {
    font-size: 7px;
  }

  .footer-social-list-image {
    height: 15px;
  }

  /* ====MENU===== */

  .sm-menu-list {
    padding-top: 30px;
  }
  .menu-text-container {
    font-size: 15px;
    letter-spacing: 0.1em;
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .lg-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .lg-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
